.header-navigation {
    background-color: #689BCE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 5px 0 5px;
}
.navigation-section {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 26px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
.navigation-section:first-child {
    width: 55%;
}
.navigation-section:last-child {
    text-transform: lowercase;
    width: 40%;
    justify-content: flex-end;
}
.navigation-section > li {
    display: inline;
}
.navigation-section > li > a {
    color: #FCFCFC;
}
.navigation-section:last-child > li > a {
    color: #E3E3E3;
    font-size: 22px;
}
.header-login {
    padding: 0;
    margin: 0 40px 0 0;
}
.header-name {
    margin: 0 40px 0 0;
    color: #F2F2F2;
}


